<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/info", user: @user %>
      <%= render "games/form", game: @game %>
    </div>
    <div class="col-md-9">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "60x60" %>
              </td>
              <td>
                <%= user.name %>
              </td>
              <td>
                <%= link_to "詳細", user_path(user) %>
              </td>
              <td>
              <% if current_user != user %>
                <% if current_user.following?(user) %>
                  <%= link_to "フォローを外す", user_relationship_path(user.id, current_user), method: :delete, class: "btn-sm btn-danger fas fa-user-minus" %>
                <% else %>
                  <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn-sm btn-success fas fa-user-plus" %>
                <% end %>
              <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>