<h2>投稿する</h2>
<%= form_with model: game, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "タイトル※必須", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :genre %>
    <%= f.text_field :genre, placeholder: "ジャンル※必須" , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :detail %>
    <%= f.text_area :detail, placeholder: "詳細※必須", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "投稿", class: "btn brn-success" %>
  </div>
<% end %>