<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/info", user: @user %>
      <%= render "games/form", game: @create %>
    </div>
    <div class="col-md-9">
      <h2>詳細</h2>
      <table class="table">
        <tr>
          <td>
            <%= link_to user_path(@game.user) do %>
              <%= attachment_image_tag @game.user, :profile_image, :fill, 75, 75, fallback: "no_image.jpg" %><br>
              <%= @user.name %>
            <% end %>
          </td>
          <td>
            <%= @game.title %>
          </td>
          <td>
            <%= @game.genre %>
          </td>
          <td>
            <% if @game.favorited_by?(current_user) %>
              <p>
                <%= link_to game_favorites_path(@game), method: :delete do %>
                  ♥<%= @game.favorites.count %>いいね
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to game_favorites_path(@game), method: :post do %>
                  ♡<%= @game.favorites.count %>いいね
                <% end %>
              </p>
            <% end %>
          </td>
          <td>
            <p>コメント：<%= @game.post_comments.count %></p>
          </td>
          <% if @game.user == current_user %>
          <td>
            <%= link_to "編集", edit_game_path(@game), class: "btn btn-success" %>
          </td>
          <td>
            <%= link_to "削除", game_path(@game), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
          </td>
          <% end %>
        </tr>
      </table>
      <div class="border-bottom">
      <%= @game.detail %>
      </div>
      <div class="mt-4">
        <% @game.post_comments.each do |post_comment| %>
        <div>
          <%= attachment_image_tag post_comment.user, :profile_image, :fill, 45, 45, fallback: "no_image.jpg" %><br>
          <%= post_comment.user.name %>
        </div>
          コメント：<%= post_comment.comment %>
          <% if post_comment.user == current_user %>
          <div>
            <%= link_to "削除", game_post_comment_path(post_comment.game, post_comment), method: :delete, class: "text-danger" %>
          </div>
          <% end %>
        <% end %>
        </div>
      <div class="form-group mt-4">
        <%= form_with(model:[@game, @post_comment], local:true) do |f| %>
          <%= f.text_area :comment, rows:"3", placeholder: "コメント" %>
          <div>
            <%= f.submit "送信" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>